.seriesSection{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    /* background-color: #202124; */
}

.paginationSection {
    margin-bottom: 0;
}

.paginationSection a {
    color: blue;
}