 .App {
  min-height: 100vh;
}

.App.light {
  background-color: #fff;
}

.App.dark {
  background-color: #202124;
  color: #f3f8fa !important;
}

.App.light a{
  color: #000;
}

.App.dark a{
  color: #f3f8fa;
}

.App.dark p {
  color: #f3f8fa;
}

.App.light p{
  color: #000 !important;
}

.page-link {
  color: #f3f8fa !important;
  background-color: #F99417 !important;
}

/* .App.light .details_sub {
  color: #f3f8fa !important;
} */