 .App {
  min-height: 100vh;
}

.App.light {
  background-color: #fff;
}
.App.light a{
  color: #000;
}

.App.light p{
  color: #000 !important;
}

.App.dark {
  background-color: #202124;
  color: #f3f8fa !important;
}

.App.dark a{
  color: #f3f8fa;
}

.App.dark p {
  color: #f3f8fa;
}

/* .App.light a {
  color: #f3f8fa !important;
} */
.page-link {
  color: #f3f8fa !important;
  background-color: #A61F69 !important;
}

.page-item.active a{
  background-color: rgb(135, 112, 127) !important;
}
