
.imgdiv{
    box-shadow: 100px 80px 150px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
    border-radius: 5px;
    width: 15%;
    text-align: center;
    display: block;
    padding: 50px 0 0 0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    left: 80px;

}
.img {
    border-radius: 5px 5px 5px 5px;
    height: 60vh;
}

.details{
    display: absolute;

    
}