/* Loading animation */

.ring
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:black;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:#fff000;
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px #fff000;
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid #fff000;
  border-right:3px solid #fff000;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.ring span
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.ring span:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:#fff000;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px #fff000;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
} 

.details{    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

@media screen and (min-width: 1235px) {
  .details {
    flex-direction: row;
    justify-content: start;
    align-items: flex-start;
  }
  .img {
    border-radius: 5px 5px 5px 5px;
    height: 45vh;
    min-width: 10%;
    /* width: 20vw; */
  }
}

/* Image setup */
.imgCard {
  border-radius: 5px;
  min-width: 24%;
  height: 55vh; 
  text-align: center;
  display: block;
  margin:20px;
  cursor: pointer;
  text-decoration: none;

} 

.darkImgCard {
  box-shadow: rgba(235, 242, 246, 0.4) 0px 0px 0px 2px, rgba(242, 247, 252, 0.65) 0px 4px 6px -1px, rgba(250, 244, 244, 0.08) 0px 1px 0px inset;
  transition: 0.3s;
}

.lightImgCard{
  box-shadow: rgba(243, 246, 248, 0.4) 0px 0px 0px 2px, rgba(246, 247, 248, 0.65) 0px 4px 6px -1px, rgba(247, 232, 232, 0.08) 0px 1px 0px inset;
  transition: 0.3s;
}

.img {
  border-radius: 5px 5px 5px 5px;
  height: 55vh;
  /* min-width: 20%; */
  /* width: 20vw; */
}

.details_sub { 
  border-radius: 5px;
  min-width: 30%;
  justify-content: center;
  background-color: #032121;
  box-shadow: rgba(243, 246, 248, 0.4) 0px 0px 0px 2px, rgba(246, 247, 248, 0.65) 0px 4px 6px -1px, rgba(247, 232, 232, 0.08) 0px 1px 0px inset;
  transition: 0.3s;
  color: white;
  
}

.focusdetails{
  margin : 20px;
  
}

.genre {
  font-weight:bold;
}

p {
  overflow: hidden;
  max-width: 300ch;
}

.focusdetails a {
  color: white;
}