
.imgdiv{
    box-shadow: rgba(248, 239, 239, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(231, 224, 224, 0.09) 0px -3px 5px;
    transition: 0.3s;
    border-radius: 5px;
    width: 15%;
    text-align: center;
    display: block;
    margin: 70px;
    cursor: pointer;
    text-decoration: none;
}
.img {
    border-radius: 5px 5px 0 0;
}

.details{
    display: absolute;

    
}